.project1 {
    color: darkgreen;
}

body {
    background-color: orange;
}

.intro {
    text-align: center;
    border: 3px solid red;
    margin: 10px;
    padding: 5px;
    background-color: green;
    color: yellow;
}

.project2 {
    color: red;
}

.project3 {
    color: snow;
}

.box {
    border: 3px dashed black;
    text-align: center;
    background-color: aqua;
    color: darkred;
}

p {
    font-size: 20px;
}

.project4 {
    color: teal;
}
