.project1 {
	color: blue;
}

body {
	background-color: orange;
}

.intro {
	text-align: center;
    border: 3px solid red;
    margin: 10px;
    padding: 5px;
    background-color: green;
    color: yellow;
}

.project2 {
	color: red;
}

.project3 {
	color: teal;
}
